@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.Discount{
    width: 90%;
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.Discount h3{
    font-size: 32px;
    font-weight:700;
    color: #040536f0;
    margin-bottom: 10px;
}
.discount-left{
 width: 100%;
 flex-basis: 45%;
}
.discount-left h3{
    text-align: center;
}
.discount-right{
    flex-basis: 45%;
}
.discount-left img{
    width: 94%;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
    justify-content: start; 
    transition: transform 1.5s ease-in-out;
}
.discount-left img:hover{
    transform: rotate(360deg);
}
.discount-right p{
    font-size: 16px;
    color: #676767;
    margin-bottom: 15px;
    text-transform: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn {
  background: #f09342;
  color: #fff;
  border-color: #f09342;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  color: #040536f0;
  background: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.btns {
  background: #fff;
  color: #040536f0;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btns img{
  width: 27px;
  margin-left: 10px;
  background: transparent;
}

.btns:active {
  color: #fff;
  background: #f09342;
  transition: background-color 0.3s, color 0.3s;
}

.button {
  background: #fff;
  color: #f09342;
  border-color: #f09342;
  padding: 15px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button:active {
  color: #fff;
  background-color: #f09342;
  transition: 0.3s;
}

.button img {
  width: 27px;
  margin-left: 10px;
  background: transparent;
}


/* media queries*/
@media(max-width: 1200px){
  .container{
    padding-left: 5%;
    padding: 5%;
  }
  .btn{
    padding: 14px 22px;
    width: 130px;
  }
  .btns{
    padding: 14px 22px;
  }
}

@media (max-width: 800px) {
    .Discount{
        flex-direction: column;
    }
    .discount-left{
        flex-basis: 100%;
        margin: 10px;
    }
    .discount-right{
        flex-basis: 100%;
        margin: 10px;
    }
    
}