body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header {
  background-color: #f8b400;
  padding: 10px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
} */
.Home{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(219, 165, 64, 0.703), rgba(8, 0, 58, 0.7)), url('../../assets/pets.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* To ensure content starts below the navbar */
}
main {
  padding: 20px;
}

.banner img {
  width: 100%;
  height: auto;
}

.appointment-btns {
  background-color: #f09342;
  color: #fff;
  height: 50px;
  width: 210px;
  border-radius: 20px;
}

.appointment {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 70px auto;
}

.appointment-form {
  display: flex;
  flex-direction: column;
}

.appointment h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #f09342;
}

.appointment input, .appointment select, .appointment button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #000; /* Ensure text is visible */
}

.contact-details {
  display: flex;
  width: 560px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; /* Decreased gap between inputs */
}

.time-details {
  display: flex;
  width: 560px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; /* Decreased gap between inputs */
}

.animalKind-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  gap: 20px;
}

.contact-details input, .time-details input {
  flex: 1; /* Ensures inputs take up available space */
}

.appointment button {
  background-color: #f09342;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, opacity 0.3s;
}

.appointment button:hover {
  background-color: #f09342;
  opacity: 0.9;
}

.note-submit-btn {
  display: flex;
  flex-direction: row;
  gap: 130px;
  justify-content: space-between;

}

.note-submit-btn p{
  display: flex;
  font-size: 22px;
  margin-bottom: 0%;
  color: #BEBEBE;
  text-transform: none;
}

.appointment-textarea {
  min-height: 100px; /* Adjust the height of the textarea as needed */
  min-width: 250px;
  border-color: #ccc;
}
.col-container{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  /* color: #ccc; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.col-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px; /* Reduce the height */
  width: 14px; /* Reduce the width */
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.col-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a #f09342 background */
.col-container input:checked ~ .checkmark {
  background-color: #f09342;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.col-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.col-container .checkmark:after {
 	top: 5px; /* Adjust the top position */
	right: 10px;
  left: 4px; /* Adjust the left position */
	width: 6px; /* Reduce the width */
	height: 6px; /* Reduce the height */
	border-radius: 50%;
	background: white;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f8b400;
  color: white;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.profileContainer{
  background-color: #e6e4e4;
  width: 500px;
  max-height: 620px;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
  margin-top: 10px;
}
.profileContainer p, .profileContainer h3{
  color: #000;
}


.profile-image-container{
  background-color: #BEBEBE;
  border-radius: 6px;
  width: 210px;
}
.profile-image-container-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-image-wrapper {
  position: relative;
  display: inline-block;
  
}

.profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left:10px;
}


.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 4px;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: translate(12%, 2%); /* Adjust this to control the overlap */
}
.profile-name {
  
  font-size: 16px;
  text-align: left;
  margin-left: 5px;
}

.profile-email {
  font-size: 14px;
  text-align: center;
}
.remove-button{
  width: 80px;
  margin-right: 5px;
}
.cancel-button{
  width: 80px;
}
.profile-button-container{
  justify-content: space-around;
}

.profile-img-container {
  position: relative;
  display: inline-block; /* Ensures the container wraps the profile image */
}

.hovering-image {
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(225, 189, 123, 0.703), rgba(8, 0, 58, 0.7));        
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;  
  opacity: 0;  
  display: flex;   
  /* padding-top: 40px;   */
  transition: 0.5s;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  overflow: hidden; 
}

.hovering-image img {
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.hovering-image:hover, .profile-img-container {
  opacity: 1;
  padding-top: 0;
}
