body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 170px;
  background-color: #fff;
  
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .Log-in-title {
  margin-top: 240px;
  color: #d6a57a;
} */

.ll-header {
  padding: 50px 0;
  background-image: radial-gradient(circle 300px at center, #d07322 0%, #d07322 100%);
  margin-bottom: 18px;
}

.ll {
  margin-bottom: 0;
  color: #d6a57a;
  text-transform: uppercase;
}

.lolo {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.login-form {
  width: 300px; /* Adjust the width to your desired size */
  max-width: 100%; /* Ensure the form is responsive */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(187, 94, 94, 0.1);
  box-sizing: border-box; /* Ensure padding and border are included in width */
  padding: 20px;
  background-color: #fff;
  
}

.login-info input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s;
  color: black;
}



.login-login {
  display: flex;
  flex-direction: column;
}

.login-signup {
  display: flex;
  flex-direction: column;
}

.btn-btn {
  width: 200px; /* Adjusted for better padding */
  border: none;
  background-color: #d07322;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Adjusted for better spacing */
  transition: background-color 0.3s, opacity 0.3s;
}

.btn-btn:hover {
  background-color: #b3621b; /* Slightly darker shade for hover effect */
}



p {
  color: #9e9e9e;
  font-size: 12px;
  text-transform: uppercase;
}
