body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

/* .Log-in-title {
  margin-top: 240px;
  color: #d6a57a;
} */

.ll-header {
  padding: 50px 0;
  background-image: radial-gradient(circle 300px at center, #d07322 0%, #d07322 100%);
  
}

.ll {
  margin-bottom: 10px; /* Increase the margin-bottom */
  color: #d6a57a;
  text-transform: uppercase;
  font-size: 24px; /* Increase the font size */
}

.lolo {
  font-weight: 400;
  font-size: 18px; /* Increase the font size */
  color: #fff;
  text-align: center;
  margin-bottom: 20px; /* Increase the margin-bottom */
}
.login-form {
  /* width: 900px; */
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(187, 94, 94, 0.1);
  /* padding: 100px; */
  background-color: #fff;
  box-sizing: border-box;
}



.login-info input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 1rem;
  width: 100%;
  font-size: 1.1rem;
  margin: 0 0 25px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.3s;
  color: black;
}



.login-login {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.login-signup {
  display: flex;
  flex-direction: column;
}


.btn-btn-1 {
  margin-top: 15px; /* Increase the margin-top */
  margin-bottom: 5px; /* Increase the margin-bottom */
  background-color: #d07322;
  width: 190px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  font-size: 16px;
}

.btn-btn-1:hover {
  background-color: #d07322;
  opacity: 0.9;
}

p {
  color: #9e9e9e;
  font-size: 12px;
  text-transform: uppercase;
}

.psswrd-requirement-col{
 margin-left: -100px;
  
}
.password-requirement{
  flex-direction: row;
  display: flex;
 align-content: flex-start;
}
.password-requirement p{
  text-transform: none;
  
}
.password-requirement img{
  width: 12px;
  height: 12px;
}