.About {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(219, 165, 64, 0.703), rgba(8, 0, 58, 0.7)), url('../../assets/pets.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    border-bottom-left-radius: 100px;

}

.section {
    padding: 20px, auto;
    margin-top: 50px;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;

}

.section.visible {
    opacity: 1;
    transform: translateX(0);
}

.About-h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 55px;
    text-align: left;
    margin-top: 100px;
    margin-left: 25px;

}

.About-h3 {
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 25px;

}

.About-intro {
    max-width: 880px;
    margin: 30px;
    margin-top: 30px;
    line-height: 1.4;
    font-size: 18px;
    text-transform: none;
    color: #fff;
}

@media(max-width: 650px){
    .About-h2{
        font-size: 55px;
    }
    .About-h3{
        font-size: 20px;
    }
    .About-intro{
        font-size: 14px;
    }
    .section{
        padding: 10px auto;
    }
}